<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zj.mapper.BookclassMapper" >
  <resultMap id="BaseResultMap" type="cn.com.zj.pojo.Bookclass" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ClassName" property="classname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ClassName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bookclass
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bookclass
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.zj.pojo.Bookclass" >
    insert into bookclass (ID, ClassName)
    values (#{id,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.zj.pojo.Bookclass" >
    insert into bookclass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="classname != null" >
        ClassName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.zj.pojo.Bookclass" >
    update bookclass
    <set >
      <if test="classname != null" >
        ClassName = #{classname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.zj.pojo.Bookclass" >
    update bookclass
    set ClassName = #{classname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>