<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zj.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="cn.com.zj.pojo.Orders" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="submit_time" property="submitTime" jdbcType="VARCHAR" />
    <result column="consignmentTime" property="consignmenttime" jdbcType="VARCHAR" />
    <result column="totalprice" property="totalprice" jdbcType="REAL" />  
    <result column="isPayoff" property="ispayoff" jdbcType="INTEGER" />
    <result column="isGo" property="isgo" jdbcType="INTEGER" />
     <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="UserOrdersMap" type="cn.com.zj.pojo.User" >
   	 		<id column="ID" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
     <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="post" property="post" jdbcType="VARCHAR" />
       <result column="level" property="level" jdbcType="INTEGER" /> 
   <collection property="orderlist"  ofType="cn.com.zj.pojo.Orders">
   		 <id column="ID" property="id" jdbcType="INTEGER" />
  
    <result column="submit_time" property="submitTime" jdbcType="VARCHAR" />
    <result column="consignmentTime" property="consignmenttime" jdbcType="VARCHAR" />
    <result column="totalprice" property="totalprice" jdbcType="REAL" />
   
    <result column="isPayoff" property="ispayoff" jdbcType="INTEGER" />
    <result column="isGo" property="isgo" jdbcType="INTEGER" />
     <result column="status" property="status" jdbcType="INTEGER" />
   </collection>
  </resultMap>
  
  <select id="findOrderList" resultMap="UserOrdersMap">
SELECT users.*,`order`.status,`order`.ID,`order`.consignmentTime,`order`.isGo,`order`.isPayoff,
`order`.submit_time,`order`.totalprice  FROM users, `ORDER`  WHERE `order`.user_id = users.ID AND users.ID = #{id}
  
  </select>
  <select id="selOrderList" resultMap="BaseResultMap">
	SELECT * FROM `order` WHERE user_id = #{id}
  
  </select>
  <sql id="Base_Column_List" >
    ID, user_id,  submit_time, consignmentTime, totalprice,  isPayoff, 
    isGo,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `order`
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectAllOrders" resultMap="BaseResultMap"  >
    select 
   *
    from `order`
   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `order`
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.zj.pojo.Orders" >
    insert into `order` (ID, user_id, number, 
      submit_time, consignmentTime, totalprice, 
      content, isPayoff, isGo
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{submitTime,jdbcType=VARCHAR}, #{consignmenttime,jdbcType=VARCHAR}, #{totalprice,jdbcType=REAL}, 
      #{content,jdbcType=VARCHAR}, #{ispayoff,jdbcType=INTEGER}, #{isgo,jdbcType=INTEGER}
      )
  </insert>
  
  <select id="OrderOrderDetailList" resultType="cn.com.zj.pojo.OrderOrderDetail" parameterType="cn.com.zj.pojo.Orders">
SELECT book.bookname,book.id as bookid,orderdetail.singalnum,`order`.id,`order`.submit_time AS submitTime ,`order`.totalprice 
FROM orderdetail, `ORDER`,book  WHERE `order`.ID = orderdetail.orderid  AND  `order`.ID = #{id}
AND `order`.user_id = #{userId} AND book.ID = orderdetail.bookid
  </select>
  
  
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="cn.com.zj.pojo.Orders" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="consignmenttime != null" >
        consignmentTime,
      </if>
      <if test="totalprice != null" >
        totalprice,
      </if>
      <if test="ispayoff != null" >
        isPayoff,
      </if>
      <if test="isgo != null" >
        isGo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=VARCHAR},
      </if>
      <if test="consignmenttime != null" >
        #{consignmenttime,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=REAL},
      </if>
      <if test="ispayoff != null" >
        #{ispayoff,jdbcType=INTEGER},
      </if>
      <if test="isgo != null" >
        #{isgo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  
  
  
  
  <update id="isGoUpdate" parameterType="java.lang.Integer" >
  
   update `order` set isGo = 1 where id = #{id,jdbcType=INTEGER}
  
  </update>
  
  <update id="closeOrder" parameterType="java.lang.Integer" >
  
   update `order` set status = 3 where id = #{id,jdbcType=INTEGER}
  
  </update>
  
  <update id="isReceive" parameterType="cn.com.zj.pojo.Orders" >
  
   update `order` set status = 0 ,consignmenttime = #{consignmenttime} where id = #{id,jdbcType=INTEGER}
  
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.zj.pojo.Orders" >
    update `order`
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="consignmenttime != null" >
        consignmentTime = #{consignmenttime,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        totalprice = #{totalprice,jdbcType=REAL},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ispayoff != null" >
        isPayoff = #{ispayoff,jdbcType=INTEGER},
      </if>
      <if test="isgo != null" >
        isGo = #{isgo,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.zj.pojo.Orders" >
    update `order`
    set user_id = #{userId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=VARCHAR},
      consignmentTime = #{consignmenttime,jdbcType=VARCHAR},
      totalprice = #{totalprice,jdbcType=REAL},
      content = #{content,jdbcType=VARCHAR},
      isPayoff = #{ispayoff,jdbcType=INTEGER},
      isGo = #{isgo,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectByTimeWater" resultType="cn.com.zj.pojo.OrderOrderDetail" >
  	SELECT `order`.*,`order`.user_id as userid,`orderdetail`.bookid,`orderdetail`.singalnum,orderdetail.orderid,book.bookname FROM 
`orderdetail`,`order`,`book` WHERE `order`.ID = orderdetail.orderid  AND orderdetail.bookid = book.ID
AND `order`.consignmentTime <![CDATA[> ]]>  #{starttime} AND `order`.consignmentTime <![CDATA[< ]]> #{overtime} AND `order`.ID = orderdetail.orderid limit #{lastdata},#{pageSize}

  </select>
  
</mapper>